<% if controller.action_name == "show" || "home" %>
  <ul class="nav nav-tabs order-tabs">
    <li>
      <%= link_to "最近の記事", "#", class: "recently-order" %>
    </li>
    <li>
      <%= link_to "いいねした記事", "#" %>
    </li>
  </ul>

  <%= render "articles/private_articles" %>
<% else controller.action_name == "favorite-order" %>
  <ul class="nav nav-tabs order-tabs">
    <li>
      <%= link_to "最近の記事", "#" %>
    </li>
    <li>
      <%= link_to "いいねした記事", "#", class: "favorite-order" %>
    </li>
  </ul>
<% end %>
