<% if controller.action_name == "show" || controller.controller_name == "home" %>
  <ul class="nav nav-tabs order-tabs">
    <li>
      <%= link_to "最近の記事", user_path(@user), class: "recently-order" %>
    </li>

    <li>
      <%= link_to "いいねした記事", favorite_order_user_path(@user) %>
    </li>
  </ul>

  <%= render "articles/private_articles" %>
<% else controller.action_name == "favorite_order" %>
  <ul class="nav nav-tabs order-tabs">
    <li>
      <%= link_to "最近の記事", user_path %>
    </li>

    <li>
      <%= link_to "いいねした記事", favorite_order_user_path, class: "favorite-order" %>
    </li>
  </ul>
<% end %>
