<% if user_signed_in? %>
  <span id="favorite-form<%= article.id %>">
    <% if article.favorites.include?(current_user) %>
      <%= render partial: "favorite_articles/not_favorite", locals: { article: article } %>
    <% else %>
      <%= render partial: "favorite_articles/favorite", locals: { article: article } %>
    <% end %>
  </span>
<% else %>
  <%= link_to new_user_session_path do %>
    <%= icon("far", "thumbs-up", class: "favorite-default-icon") %>
  <% end %>
<% end %>
<span id="favorite-count"><%= article.favorite_articles.count %></span>
