<div class="user-page">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user-info">
          <h1>
            <%= image_tag @user.image.url, class: "user-image" %>
            <%= @user.user_name %>
          </h1>

          <% if !current_user?(@user) && user_signed_in? %>
            <% if @user.followers.include?(current_user) %>
              <%= link_to user_relationship_path(@user), method: :delete do %>
                <button type="button" class="btn-warning unfollow-button">
                  <%= icon("fas", "star", class: "unfollow-icon") %>
                  <h4 class="unfollow-icon-text">フォロー中</h4>
                </button>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@user), method: :post do %>
                <button type="button" class="btn-default follow-button">
                  <%= icon("far", "star", class: "follow-icon") %>
                 <h4 class="follow-icon-text">フォローする</h4>
               </button>
              <% end %>
            <% end %>
          <% end %>

          <% if current_user?(@user) %>
            <span class="user-edit">
              <%= link_to "編集", edit_user_registration_path %>
            </span>
          <% end %>
        </section>

        <section class="user-profile">
          <h2>
            自己紹介
          </h2>
          <%= simple_format(@user.profile) %>
        </section>

        <section class="user-status">
          <p>ここにフォロースタッツを表示予定</p>
        </section>
      </aside>
      <%= render "articles/my_article" %>
    </div>
  </div>
</div>
