<div class="user-page">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user-info">
          <h1>
            <%= image_tag @user.image.url, class: "user-image" %>
            <%= @user.user_name %>
          </h1>

          <% if !current_user?(@user) && user_signed_in? %>
            <span id="follow-form">
              <% if @user.followers.include?(current_user) %>
                <%= render "relationships/unfollow" %>
              <% else %>
                <%= render "relationships/follow" %>
              <% end %>
            </span>
          <% end %>

          <% if current_user?(@user) %>
            <span class="user-edit">
              <%= link_to "編集", edit_user_registration_path %>
            </span>
          <% end %>
        </section>

        <section class="user-profile">
          <h2>
            自己紹介
          </h2>
          <%= simple_format(@user.profile) %>
        </section>

        <div class="user-stats">
          <section>
            <% if @user || current_user %>
              <div class="user-stat">
                <%= link_to following_user_path(@user) do %>
                  <strong>
                    <%= @user.following.count %>
                  </strong>
                  <p>フォロー</p>
                <% end %>
              </div>

              <div class="user-stat">
                <%= link_to followers_user_path(@user) do %>
                  <strong id="followers-count">
                    <%= @user.followers.count %>
                  </strong>
                  <p>フォロワー</p>
                <% end %>
              </div>
            <% end %>
          </section>
        </div>
      </aside>
      <%= render "articles/my_article" %>
    </div>
  </div>
</div>
