<% provide(:title, @title) %>

<div class="user-page">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user-info">
          <h1>
            <%= image_tag @user.image.url, class: "user-image" %>
            <%= @user.user_name %>
          </h1>

          <% if current_user?(@user) %>
            <span class="user-edit">
              <%= link_to "編集", edit_user_registration_path %>
            </span>
          <% end %>
        </section>

        <section class="user-profile">
          <h2>
            自己紹介
          </h2>
          <%= simple_format(@user.profile) %>
        </section>

        <div class="user-stats">
          <section>
            <% if @user || current_user %>
              <div class="user-stat">
                <%= link_to following_user_path(@user) do %>
                  <strong>
                    <%= @user.following.count %>
                  </strong>
                  <p>フォロー</p>
                <% end %>
              </div>

              <div class="user-stat">
                <%= link_to followers_user_path(@user) do %>
                  <strong>
                    <%= @user.followers.count %>
                  </strong>
                  <p>フォロワー</p>
                <% end %>
              </div>
            <% end %>

            <div class="follow-users">
              <% @users.each do |user| %>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.image.url, class: "follow-user" %>
                <% end %>
              <% end %>
            </div>
          </section>
        </div>
      </aside>

      <div class="col-md-8 follow-page">
        <h2 class="text-center"><%= @title_users %></h2>
        <ul class="follow-info">
          <% @users.each do |user| %>
            <li>
              <%= image_tag user.image.url, class: "users-image" %>
              <%= link_to user.user_name, user_path(user), class: "users-name" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
