<% provide(:title, "Password reset") %>

<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h2 class="text-center">パスワードの再設定</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password %><br />
            <% if @minimum_password_length %>
            <em>8~32文字以内で半角英数字を1つ以上を含める</em>
            <% end %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
              class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off",
              class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.submit "再設定", class: "btn-block btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
