<div class="user-page">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user-info">
          <h1>
            <%= image_tag current_user.image.url, class: "user-image" %>

            <%= current_user.user_name %>

            <span class="user-edit">
              <%= link_to "編集", edit_user_registration_path %>
            </span>
          </h1>
        </section>

        <section class="user-profile">
          <h2>
            自己紹介
          </h2>
          <%= current_user.profile %>
        </section>

        <section class="user-status">
          <p>ここにフォロースタッツを表示予定</p>
        </section>
      </aside>
      <div class="col-md-8">
        <%= link_to new_article_path do %>
          <button type="button" name="button" class="btn-block btn-success article-button">
            記事を作成する</button>
        <% end %>

        <p class="text-center">ここに投稿した記事を表示予定</p>
      </div>
    </div>
  </div>
</div>
